@font-face { font-family: sf-san-francisco; src: url('../fonts/sf-san-francisco-ui-display-regular.otf'); }

* {
	font-family: sf-san-francisco;
	color: #ffffff;	
}

html {
	height: 100%;
	width: 100%;
	margin: 0px 0px 0px 0px;
	margin-top: 10px;
}

body {
	font-size: 16pt;
	background-image: url('/images/x9-cloud.jpg');
	background-repeat: no-repeat;	
	background-position: top center;
	/*background-attachment: fixed;*/
	
	/*background-size: cover;*/
	/*text-align: center;*/
	width: 1728px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:auto;
	margin-right:auto;
	/*border: solid 4px red;*/
	/*overflow:hidden;*/
}

h1 {
	font-size: 23pt;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 15pt;
	margin: 0px;
	padding: 0px;
}

label {
	font-size: 9pt;
}

input {
	font-size: 14pt;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}

button {
	width: 120px;
}

#content {
	margin-left: 24px;
	margin-top: 30px;
	width: 1670px;
	position: relative;
	/*border: solid 3px red;*/
	height: 850px;
}

.toolTipInputField {
	margin-top: 18px;	
}

img.stelinno-logo {
	margin-top: 24px; 
	margin-left: 20px;
	width: 160px;
}